@import "tailwindcss";
@layer utilities {
  .clerk {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 
                0 4px 6px rgba(34,42,53,0.04), 
                0 24px 68px rgba(4,48,55,0.05), 
                0 2px 3px rgba(0,0,0,0.04);
  }
  .clerk-press {
    box-shadow: 0 1px 1px rgba(255,255,255,0.05), 
                0 4px 6px rgba(255,255,255,0.04), 
                0 24px 68px rgba(255,255,255,0.05), 
                0 2px 3px rgba(255,255,255,0.04);
  }
}